In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
project_dir = Path.cwd().parent.parent
data_dir = project_dir / 'data'
data_dir

PosixPath('/home/tim/Documents/arxiv-code-search/data')

In [15]:
df = pd.read_excel(data_dir / 'interim' / 'labels_1.ods', parse_dates=['update_date'], 
                    engine='odf', names=["id", "pattern", "token_count", "update_date", "label", "para"],)
df.head()

,id,pattern,token_count,update_date,label,para
0,1401.8008,"code, package, code available, github, code pa...",56,2022-04-27,2.0,So we can solve the dual comparison problem (1...
1,1401.8008,data,103,NaT,NaN,Comparison data also results when considering ...
2,1401.8008,data,11,NaT,NaN,4. Comparison to SVMrank in sushi and simulate...
3,1401.8008,data,112,NaT,NaN,Fig. 6. Test AUC for each model used after tra...
4,1401.8008,data,113,NaT,NaN,The goal of learning to compare is to accurate...

In [16]:
df = df.dropna(subset=['label']).astype({'label': int})

df.head()

,id,pattern,token_count,update_date,label,para
0,1401.80080,"code, package, code available, github, code pa...",56,2022-04-27,2,So we can solve the dual comparison problem (1...
123,1608.04885,data,18,2022-04-21,0,[122] A. A. Sofokleous and A. S. Andreou. Auto...
144,1608.04885,data,28,2022-04-21,0,"interaction models. Moreover, by utilizing dat..."
160,1608.04885,data,9,2022-04-21,0,data is transformed into messages sent and rec...
180,1608.04885,dataset,15,2022-04-21,0,represent the average times spent generating r...