In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [42]:
# df_existing = pd.read_csv("labels_1_existing.csv", dtype=str)
df_existing = pd.read_csv("labels_1.csv", dtype=str)
print(df_existing.shape)
df_existing.head()

(143, 5)

,id,pattern,update_date,label,para
0,2011.05411,data,NaN,NaN,1. A systematic description of data processing...
1,2011.05411,data,NaN,NaN,10https://ico.org.uk/for-organisations/guide-t...
2,2011.05411,data,NaN,NaN,11https://ico.org.uk/for-organisations/guide-t...
3,2011.05411,dataset,NaN,NaN,2. Local Computation: Once receiving the globa...
4,2011.05411,data,NaN,NaN,2.2.1. Data Anonymisation

In [43]:
# df = pd.read_csv("labels_1.csv", dtype=str)
df = pd.read_csv("labels_1_existing.csv", dtype=str)
print(df.shape)
df.head()

(46, 5)

,id,pattern,update_date,label,para
0,2011.05411,dataset,04/21/22,1,2. Local Computation: Once receiving the globa...
1,2011.05411,dataset provided,04/22/22,2,5.3. Rights of Data Subject
2,2011.05411,dataset,04/23/22,3,Although gradient descent-based optimisation m...
3,2011.05411,dataset,04/24/22,4,Another approach to preserve data privacy and ...
4,2011.05411,dataset,04/25/22,5,"As aforementioned, a trained ML model contains..."

In [53]:
df_existing = pd.read_csv("labels_1.csv", dtype=str)
df = pd.read_csv("labels_1_existing.csv", dtype=str)

# df_existing = pd.read_csv("labels_1_existing.csv", dtype=str)
# df = pd.read_csv("labels_1.csv", dtype=str)

df_existing = df_existing.merge(df[['para', 'id', 'pattern']], on=['para', 'id'], how="outer")

# if pattern_y is NaN, then copy pattern_x to pattern_y
df_existing['pattern'] = df_existing['pattern_y'].fillna(df_existing['pattern_x'])

# drop columns that are not needed, pattern_x and pattern_y
df_existing = df_existing.drop(['pattern_x', 'pattern_y'], axis=1)
df_existing = df_existing[["id", "pattern", "update_date", "label", "para"]]

print(df_existing.shape)
df_existing

(143, 5)

,id,pattern,update_date,label,para
0,2011.05411,data,NaN,NaN,1. A systematic description of data processing...
1,2011.05411,data,NaN,NaN,10https://ico.org.uk/for-organisations/guide-t...
2,2011.05411,data,NaN,NaN,11https://ico.org.uk/for-organisations/guide-t...
3,2011.05411,dataset,NaN,NaN,2. Local Computation: Once receiving the globa...
4,2011.05411,data,NaN,NaN,2.2.1. Data Anonymisation
...,...,...,...,...,...
138,2108.09408,data,NaN,NaN,"In general, there is no need to down-sample th..."
139,2108.09408,data,NaN,NaN,Multi-scale feature aggregation based. The pro...
140,2108.09408,dataset,NaN,NaN,Quantitative comparison. Table. 3 shows the qu...
141,2108.09408,dataset,NaN,NaN,Table 3. Quantitative comparison with state-of...
142,2108.09408,dataset,NaN,NaN,• We build an eﬃcient framework to fully combi...

In [55]:
def merge_existing_new_labels(df_existing, df_new):
    df_existing = df_existing.merge(df_new[['para', 'id', 'pattern']], on=['para', 'id'], how="outer")

    # if pattern_y is NaN, then copy pattern_x to pattern_y
    df_existing['pattern'] = df_existing['pattern_y'].fillna(df_existing['pattern_x'])

    # drop columns that are not needed, pattern_x and pattern_y
    df_existing = df_existing.drop(['pattern_x', 'pattern_y'], axis=1)
    return df_existing[["id", "pattern", "update_date", "label", "para"]]

In [57]:
df_existing = pd.read_csv("labels_1_existing.csv", dtype=str)
df = pd.read_csv("labels_1.csv", dtype=str)

df = merge_existing_new_labels(df_existing, df)
df.head()

,id,pattern,update_date,label,para
0,2011.05411,dataset,04/21/22,1,2. Local Computation: Once receiving the globa...
1,2011.05411,"dataset provided, data",04/22/22,2,5.3. Rights of Data Subject
2,2011.05411,dataset,04/23/22,3,Although gradient descent-based optimisation m...
3,2011.05411,"dataset, data",04/24/22,4,Another approach to preserve data privacy and ...
4,2011.05411,"dataset, data",04/25/22,5,"As aforementioned, a trained ML model contains..."

In [38]:
# drop any rows in df that have the same 'para' as in df_existing
df = df[~df["para"].isin(df_existing["para"])]

# concatenate the two dataframes
df = pd.concat([df_existing, df])
df = df[["id", "pattern", "update_date", "label", "para"]]
print(df.shape)
df.head()

(143, 5)

,id,pattern,update_date,label,para
0,2011.05411,NaN,NaN,NaN,1. A systematic description of data processing...
1,2011.05411,NaN,NaN,NaN,10https://ico.org.uk/for-organisations/guide-t...
2,2011.05411,NaN,NaN,NaN,11https://ico.org.uk/for-organisations/guide-t...
3,2011.05411,dataset,NaN,NaN,2. Local Computation: Once receiving the globa...
4,2011.05411,NaN,NaN,NaN,2.2.1. Data Anonymisation

In [30]:
# save the dataframe to a csv file
df.to_csv("labels_1_merged.csv", index=False)

In [ ]:
def merge_exiting_new_labels(df_existing, df_new):
    """
    Merge the existing labels with the new labels.
    """
    df_existing = df_existing.merge(df_new[['para', 'id', 'pattern']], on=['para', 'id'], how="inner").drop(columns=['pattern_x']).rename(columns={'pattern_y': 'pattern'})
    
    # drop any rows in df_new that have the same 'para' as in df_existing
    df_new = df_new[~df_new["para"].isin(df_existing["para"])]

    # concatenate the two dataframes
    df_new = pd.concat([df_existing, df_new])
    df_new = df_new[["id", "pattern", "update_date", "label", "para"]]